<mat-card>
  <mat-card-content>
    <form [formGroup]="gallery" class="forms" (submit)="submit()">
      <!-- <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <input matInput placeholder="image" formControlName="image">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="description" formControlName="description">
      </mat-form-field> -->
      <input type="text" formControlName="title" class="form-control" placeholder="Title">
      <input type="text" formControlName="image" class="form-control" placeholder="image">
      <input type="text" formControlName="description" class="form-control" placeholder="description">
      <button mat-raised-button>Submit</button>
    </form>
  </mat-card-content>
</mat-card>